<section class="spotlight" style="background: #808080">
  <div class="image">
    <img src="images/pic1.jpg" alt="" />
  </div>
  <div class="content">
    <h2 class="coupletitle">Nic and Emma</h2>
	<p class="coupledescription">Emma Suzanne Henry, born in Brantford Ontario, and Nicolas Robin Durish, born in Toronto Ontario, met on their first day of their Undergraduate Degrees at the University of Guelph. After months of close friendship, they started dating in November of 2012 and proceeded to finish their degrees, plant over 800,000 trees in Northern Ontario, hike the West-Coast trail, build a tiny-home in a school bus and travel in it across Canada, work as ski-bums on Vancouver Island, buy a home, and parent the best 5 chickens and dog a couple could ask for. </p>
  </div>
</section>

<section class="spotlight">
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
    <img src="images/pic2a.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em">
    <img src="images/pic2b.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-left: 1em">
    <img src="images/pic2c.jpg" alt="" />
  </div>
</section>


