<div class="inner">
  <header class="major">
    <h2>Come celebrate with us!</h2>

    <p>
    Attire: Black-Tie Optional/Semi-Formal<br>
    Officiant: Mara Young<br>
	</p>

    <p>
    <i class="fas fa-map-marker-alt"></i><br>
    In Jeff and Anne's Backyard<br>
    <a target="_blank" href="https://goo.gl/maps/y7aJ3YzJ17t">185 Bleecker Avenue<br>
	Belleville, Ontario</a><br>
	</p>
	
	<p style="margin-bottom: 20px;">
	<i class="fas fa-calendar"></i><br>
	August 24, 2019<br>
	<a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NGtsc3BqdHJwZm9ldW5hNWJsbHJxMGNlZ24gd2lsZHkuYnVzQG0&tmsrc=wildy.bus%40gmail.com">Add to Google Calendar</a></p>
	<p>
	2:00 PM - Venue Opens<br>
	2:30 PM - Ceremony<br>
	3:15 PM - Cocktail, Hors D'ouvres & Games<br>
	4:00 PM - Reception & Dinner<br>
	7:00 PM - Open Mic<br>
	8:30 - 11:00 PM - Band</p>
	
	<p>
	<i class="fas fa-camera"></i><br>
	Share photos with the hashtag <strong>#NicAndEmma2019</strong><br>
	Or contribute to and view our shared <a target="_blank" href="https://photos.app.goo.gl/SS2qZ24YQhLXaZu58">Google Photos Album</a><br>
	<span style="font-size: 0.7em; line-height:0;">*Please remember to keep your cameras and phones away during the Ceremony :)</span>
	</p>

  </header>
</div>
