<div class="inner">
  <header class="major">
    <h2>Come celebrate with us!</h2>
    <p>185 Bleecker Avenue<br>
	Belleville, Ontario</p>

	<p>Attire: Semi-formal</p>
	
	<p>
	August 24, 2019<br>
	2:00 PM - Venue Opens<br>
	2:30 PM - Ceremony<br>
	3:15 PM - Cocktail, Hors D'ouvres & Games<br>
	4:00 PM - Reception & Dinner<br>
	7:00 PM - Open Mic<br>
	8:30 - 11:00 PM - Band
	</p>
	
	<p>
	<a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NGtsc3BqdHJwZm9ldW5hNWJsbHJxMGNlZ24gd2lsZHkuYnVzQG0&tmsrc=wildy.bus%40gmail.com">Add this event to Google Calendar</a>
	</p>
	
	<p>Share photos with the hashtag <strong>#NicAndEmma2019</strong></p>	
  </header>
</div>
