<div class="inner">
  <header class="major">
    <h2>Food & Drink</h2><br>

      <!--  <i class="fas fa-exclamation-triangle"></i><br>
    <p class="no-margin">Check back soon for more information on Food and Drinks.</p>-->


    <div>
    	<p class="no-margin">We’ll be hosting a picnic-style dinner featuring a multitude of dishes from two local caterers, as well as some salads and deserts made by some of our close family and friends! There will be a variety of dishes that suit everyones tastes and diets.</p>
    </div>

	<div class="info-container">
		<div class="inline-circle-img-left">
			<img class="circle-img" src="images/Guapos.png"/>
		</div>
		<div class="section-div">
			<p class="section-text no-margin" style="text-align: left !important;">
				<strong>Guapo's Cantina</strong></p>
			<p class="section-text no-margin">
				Servin’ up fresh, scratch made TexMex streetfood. Guapo’s Cantina will be catering an awesome taco bar featuring 3 different types of tacos: Pork Carnitas, Chipotle Chicken and Sweet Potato with a side of Roasted Corn Salad.
			</p>
		</div>
	</div>

	<div class="info-container">
		<div class="section-div">
			<p class="section-text no-margin" style="text-align: right !important;">
				<strong>Idle Wild</strong></p>
			<p class="section-text no-margin">
				Idle Wild cooks up a variety of fusion cuisine, from Asian, Filipino to classic Canadian dishes. They will be serving Chicken Yakitori (charcoal grilled skewers), Pulled Pork Sliders, Vegetarian Soba Noodles with a side of Cucumber Sambal Salad and Classic Potato Salad.
			</p>
		</div>
		<div class="inline-circle-img-right">
			<img class="circle-img" src="images/Idle-Wild-Logo.jpg"/>
		</div>
	</div>

	<div class="info-container">
		<div class="inline-circle-img-left">
			<img class="circle-img" src="images/beer.jpg"/>
		</div>
		<div class="section-div">
			<p class="section-text no-margin" style="text-align: left !important;">
				<strong>Beverages</strong></p>
			<p class="section-text no-margin">
				During our cocktail hour and with dinner there will be wine and beer available. After dinner, the bar will open up and begin tapping kegs, serving wine and mixing classic highballs. Don’t worry, it is indeed an open bar ;)
		</div>
	</div>

  </header>
</div>
