<div class="inner">
  <header class="major">
    <h2>Food & Drink</h2><br>

    <i class="fas fa-exclamation-triangle"></i><br>
    <p class="no-margin">Check back soon for more information on Food and Drinks.</p>

    <!--
    <div>
    	<p class="no-margin">BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH - A little section on how we are doing a 'wandering' dinner - BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH</p>
    </div>
	
	<div class="info-container">
		<div class="inline-circle-img-left">
			<img class="circle-img" src="images/guaposcantina.jpg"/>
		</div>
		<div class="section-div">
			<p class="section-text no-margin" style="text-align: left !important;">
				<strong>Guapo's Cantina</strong></p>
			<p class="section-text no-margin">
				Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
			</p>
		</div>
	</div>

	<div class="info-container">
		<div class="section-div">
			<p class="section-text no-margin" style="text-align: right !important;">
				<strong>Idle Wild</strong></p>
			<p class="section-text no-margin">
				Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
			</p>
		</div>
		<div class="inline-circle-img-right">
			<img class="circle-img" src="images/guaposcantina.jpg"/>
		</div>
	</div>

	<div class="info-container">
		<div class="inline-circle-img-left">
			<img class="circle-img" src="images/guaposcantina.jpg"/>
		</div>
		<div class="section-div">
			<p class="section-text no-margin" style="text-align: left !important;">
				<strong>Beverages</strong></p>
			<p class="section-text no-margin">
				Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
			</p>
		</div>
	</div>-->

  </header>
</div>
