<div class="inner">
  <header class="major">
    <h2>Registry</h2>

	<p>
	We are honored you will share in our special day. Your presence is our gift! And we're lucky to already have a home full of many of the things we need. However if you'd like to contribute funds to help with the cost of the wedding, honeymoon or student debts, we will have a contribution pot available at the event. <br>
	Thank you!
	<!-- Or you can see some of the items we're interested in by visiting our <a href="https://www.myregistry.com/wedding-registry/Nic-Durish-and-Emma-Henry-Guelph-AZ/1841855">Online Wishlist.</a>-->
	</p>
  </header>
</div>
