<div class="inner">
  <header class="major">
    <h2>Registry</h2>

	<p>We are honored you will share in our special day. Your presence is our gift! We're lucky to already have a home full of many of the things we need. However if you would like to contribute to our new life together or to help us crawl out of student/wedding debt, here is a link to our wedding wishlist as well as means of contributing funds. Thank you!</p>

	<a href="https://www.myregistry.com/wedding-registry/Nic-Durish-and-Emma-Henry-Guelph-AZ/1841855">Click here to visit our Registry!</a>
  </header>
</div>
