<div class="inner">
  <header class="major">
    <h2>Music</h2><br>

	<div class="info-container">
		<div class="inline-circle-img-left">
			<img class="circle-img" src="images/openmic.jpeg"/>
		</div>
		<div class="section-div">
			<p class="section-text no-margin" style="text-align: left !important;">
				<strong>Jam Session</strong></p>
			<p class="section-text no-margin">
				Music is better when shared! There are a lot of musical folks in attendance who we'd love to hear, which is why after we finish with Speeches and Toasts, we're having a good ol' fashion Jam Session. We'll be saving a number of our favourite sing-a-longs for the end, so don't lose your voices too early ;) If you're interested in playing a song - either solo or with a group, your own words or a cover, serious or silly, send us an email at <a href="mailto:music@nicandemma.ca">music@nicandemma.ca</a>!<br>

			</p>
		</div>
	</div>

	<div class="info-container">
		<div class="section-div">
			<p class="section-text no-margin" style="text-align: right !important;">
				<strong>Long Range Hustle</strong></p>
			<p class="section-text no-margin">
				The evening will conclude with songs and dance led by Long Range Hustle. A mix of high school and summer camp counsellor tenures brought the core of this southern Ontario five-piece together - Paul Brogee, Mike Brogee (Nic’s cousins!), Jay Foster, AJ Fisico and Ryan Pritchard. We can’t wait to fill the backyard up with the infectious energy, driving rhythms, gorgeous melodies and down-right dance-tastic music that LRH brings.
			</p>
		</div>
		<div class="inline-circle-img-right">
			<img class="circle-img" src="images/lrh2.jpeg"/>
		</div>
	</div>



  </header>
</div>
