<div class="inner">
  <header class="major">
    <h2>Music</h2><br>

	<div class="info-container">
		<div class="inline-circle-img-left">
			<img class="circle-img" src="images/openmic.jpeg"/>
		</div>
		<div class="section-div">
			<p class="section-text no-margin" style="text-align: left !important;">
				<strong>Open Mic</strong></p>
			<p class="section-text no-margin">
				Music is better when shared! After we finish with dinner, the evening will commence with an hour and a half of ‘Open Mic’. Bring an instrument or use one provided, come up solo or put together an ensemble, practise a song or improvise, write your own song or play a cover, be serious or be silly! Bonus points for re-written songs and covers we can all sing to :). We’ll put up a chalkboard at the beginning of the event where people can sign up to play so be sure to get your name down as soon as you arrive.
			</p>
		</div>
	</div>

	<div class="info-container">
		<div class="section-div">
			<p class="section-text no-margin" style="text-align: right !important;">
				<strong>Long Range Hustle</strong></p>
			<p class="section-text no-margin">
				The evening will conclude with songs and dance led by Long Range Hustle. A mix of high school and summer camp counsellor tenures brought the core of this southern Ontario five-piece together - Paul Brogee, Mike Brogee (Nic’s cousins!), Jay Foster, AJ Fisico and Ryan Pritchard. We can’t wait to fill the backyard up with the infectious energy, driving rhythms, gorgeous melodies and down-right dance-tastic music that LRH brings.
			</p>
		</div>
		<div class="inline-circle-img-right">
			<img class="circle-img" src="images/lrh2.jpeg"/>
		</div>
	</div>



  </header>
</div>
