<section class="spotlight" style="background: #808080">
  <!--<div class="image">
    <img src="images/pic1.jpg" alt="" />
  </div>-->
  <div class="content">
    <h2 class="coupletitle">The Wedding Party</h2>
  </div>
</section>


<section class="spotlight" style="background: #808080; padding-left:2em; padding-right:2em;">
  <div class="image party" style="padding-top: 1em; padding-bottom: 1em; padding-right: 1em; padding-left: 1em;">
    <img src="images/party/nicole.jpg" alt="" style="border-radius:50%;"/>
    <p class="party-desc" style="text-align:center;">Nicole Winter</p>
  </div>
  <div class="image party" style="padding-top: 1em; padding-bottom: 1em; padding-right: 1em; padding-left: 1em">
    <img src="images/party/hannah.jpg" alt="" style="border-radius:50%;"/>
    <p class="party-desc" style="text-align:center;">Hannah Whitney</p>
  </div>
  <div class="image party" style="padding-top: 1em; padding-bottom: 1em; padding-right: 1em; padding-left: 1em">
    <img src="images/party/maddison.jpg" alt="" style="border-radius:50%;"/>
    <p class="party-desc" style="text-align:center;">Maddison Roy</p>
  </div>
  <div class="image party" style="padding-top: 1em; padding-bottom: 1em; padding-right: 1em; padding-left: 1em">
    <img src="images/party/kailie.jpg" alt="" style="border-radius:50%;"/>
    <p class="party-desc" style="text-align:center;">Kailie Otermanns</p>
  </div>
  <div class="image party" style="padding-top: 1em; padding-bottom: 1em; padding-right: 1em; padding-left: 1em">
    <img src="images/party/avery.jpg" alt="" style="border-radius:50%;" />
    <p class="party-desc" style="text-align:center;">Avery Durish</p>
  </div>
  <div class="image party" style="padding-top: 1em; padding-bottom: 1em; padding-right: 1em; padding-left: 1em;">
    <img src="images/party/mantha.jpg" alt="" style="border-radius:50%;"/>
    <p class="party-desc" style="text-align:center;">Samantha Henry</p>
  </div>
</section>

<section class="spotlight" style="background: #808080; padding-left:2em; padding-right:2em;">
  <div class="image party" style="padding-top: 1em; padding-bottom: 1em; padding-right: 1em; padding-left: 1em;">
    <img src="images/party/jeff.jpg" alt="" style="border-radius:50%;"/>
    <p class="party-desc" style="text-align:center;">Jeff Matthews</p>
  </div>
  <div class="image party" style="padding-top: 1em; padding-bottom: 1em; padding-right: 1em; padding-left: 1em">
    <img src="images/party/mike.jpg" alt="" style="border-radius:50%;"/>
    <p class="party-desc" style="text-align:center;">Mike Brogee</p>
  </div>
  <div class="image party" style="padding-top: 1em; padding-bottom: 1em; padding-right: 1em; padding-left: 1em">
    <img src="images/party/emer.jpg" alt="" style="border-radius:50%;"/>
    <p class="party-desc" style="text-align:center;">Emerson Dowd</p>
  </div>
  <div class="image party" style="padding-top: 1em; padding-bottom: 1em; padding-right: 1em; padding-left: 1em">
    <img src="images/party/chris.jpg" alt="" style="border-radius:50%;"/>
    <p class="party-desc" style="text-align:center;">Chris Durish</p>
  </div>
  <div class="image party" style="padding-top: 1em; padding-bottom: 1em; padding-right: 1em; padding-left: 1em">
    <img src="images/party/lee.jpg" alt="" style="border-radius:50%;"/>
    <p class="party-desc" style="text-align:center;">Lee Fisher</p>
  </div>
  <div class="image party" style="padding-top: 1em; padding-bottom: 1em; padding-right: 1em; padding-left: 1em">
    <img src="images/party/adon.jpg" alt="" style="border-radius:50%;"/>
    <p class="party-desc" style="text-align:center;">Adon Portman</p>
  </div>
  <div class="image party" style="padding-top: 1em; padding-bottom: 1em; padding-right: 1em; padding-left: 1em;">
    <img src="images/party/gabe.jpg" alt="" style="border-radius:50%;"/>
    <p class="party-desc" style="text-align:center;">Gabriel Pothier-Maudsley</p>
  </div>
</section>


