<div class="inner">
  <header class="major">
    <h2>RSVP</h2>
    <p>Please only reserve seats for the individual(s) indicated in your invitation. We are sincerely sorry that we are unable to accommodate more guests and plus ones at the event. </p>
    <p>To RSVP send us an email at <a href="mailto:wedding@nicandemma.ca">wedding@nicandemma.ca</a> indicating party members and dietary restrictions, or fill out the following form.
    </p>

	<form method="POST" action="https://formspree.io/wildy.bus@gmail.com">
	  <input type="text" name="name" placeholder="Your name" style="background: #d5f0fb"/>
	  <textarea name="message" placeholder="Who in your party is and isn't able to come?" style="background: #d5f0fb; margin-top: 4px"></textarea>
	  <textarea name="message" placeholder="Are there any dietary restrictions in your party?" style="background: #d5f0fb; margin-top: 4px"></textarea>
	  <textarea name="message" placeholder="Are you planning on staying in a tent?" style="background: #d5f0fb; margin-top: 4px"></textarea>
	  <input type="text" name="_gotcha" style="display:none"/>
	  <br>
	  <button type="submit" style="background: #d5f0fb">RSVP</button>
	</form>
  </header>
</div>
