<div class="inner">
  <header class="major no-margin">
    <h2>Your Stay In Belleville</h2><br>

    <h4>Transportation & Parking</h4>
  	<p> To get to the event grounds, we've left details below on a parking lot that we've reserved down the street as well as taxi contact details. <span style="font-weight:700">To get home at the end of the night, we'll have a shuttle van available and as many taxi's as we can wrangle to shuttle people back to their beds.</span> If you drove to the event, feel free to leave your car overnight, and return for it the next day :)</p>

  	<section class="spotlight" style="background: #d4f0fc;">
  	  <div class="image belleville" style=" padding-right: 2.5em; padding-left: 2.5em">
  	  	<p class="party-desc" style="text-align:center; margin-bottom: 0.5em;font-weight:700;font-size:1em;">Parking</p>
        <img src="images/parking.png" alt="" style="width:40%;margin:auto;"/>
      	<p class="party-desc" style="text-align:center; margin-top: 0.5em;"> We've reserved parking spaces at the Bayside Oral Surgery Centre, just up the road on the corner of Bridge & Chatham. These spaces need to be vacated by Sunday at 2:00pm, so please be sure to return for your car before then. If spaces fill up, there is lots of street parking on adjacent streets, and a number of businesses on Dundas that are a short walk away. Please note parking on the east side of Bleecker, and on Bridge street is not permitted.
        </p>
  	    <!--<img src="images/park.png" alt="" style="border:2px #fffafa;border-radius:10px;width:50%;margin:auto;"/>
  	    <p class="party-desc" style="text-align:center; margin-top: 0.5em;">There are rooms with 1 King or 2 Queens available with complementary breakfasts and access to the hottub, pool and gym. <br>
  	    	<br><a target="_blank" href="https://www.ihg.com/holidayinnexpress/hotels/us/en/belleville/xvvon/hoteldetail?cm_mmc=GoogleMaps-_-EX-_-CA-_-XVVON">291 N Front St, Belleville</a><br>(613) 962-1200<br>"Durish & Henry Wedding"<br>Booking Date: July 12</p>-->
  	  </div>
  	  <div class="image belleville" style=" padding-right: 2.5em; padding-left: 2.5em">
  	  	<p class="party-desc" style="text-align:center;margin-bottom: 0.5em;font-weight:700;font-size:1em;">Taxis</p>
  	    <img src="images/taxi1.png" alt="" style="width:30%;margin:auto;"/>
  	    <p class="party-desc" style="text-align:center; margin-top: 0.5em;"> For anyone who has experienced Belleville Taxis before, they can be a bit... inconsistent. We recommend reserving your cab and arriving a bit early, just in case.<br><br>
  	    	<a target="_blank" href="http://www.centralbelleville.com/">Central Taxi:</a><br>(613) 962-5353<br><br>Bluebird Taxi:<br>(613) 962-2525<br><br></p>
  	  </div>
  	</section>

	<h4><br>Accomodations</h4>
	<p>
    <!-- <strike> We have a block of rooms reserved at the Holiday Inn Express for Friday and Saturday night if booked by July 12th under the name "Durish & Henry Wedding". Unfortunately, all hotels with which we inquired had a minimum stay of two nights on weekends during the summer or too late of a check-in time for a single night.</strike> -->
    <b> This block has now been released. There still might be rooms - just not under "Nic and Emma" :(. </b> We strongly encourage making a reservations as soon as possible and considering transportation to the wedding grounds.</p>

	<section class="spotlight" style="background: #d4f0fc;">
	  <div class="image belleville" style=" padding-right: 1em; padding-left: 1em;">
	  	<p class="party-desc" style="text-align:center; margin-bottom: 0.5em;font-weight:700;font-size:1em;">Holiday Inn Express</p>
	    <img src="images/hie.png" alt="" style="width:50%;margin:auto;"/>
	    <p class="party-desc" style="text-align:center; margin-top: 0.5em;">There are rooms with 1 King or 2 Queens available with complementary breakfasts and access to the hottub, pool and gym. <br>
	    	<br><a target="_blank" href="https://www.ihg.com/holidayinnexpress/hotels/us/en/belleville/xvvon/hoteldetail?cm_mmc=GoogleMaps-_-EX-_-CA-_-XVVON">291 N Front St, Belleville</a><br>(613) 962-1200<br>"Durish & Henry Wedding"<br>Booking Date: July 12</p>
	  </div>
	  <div class="image belleville" style=" padding-right: 1em; padding-left: 1em">
	  	<p class="party-desc" style="text-align:center;margin-bottom: 0.5em;font-weight:700;font-size:1em;">AirBnB</p>
	    <img src="images/air.png" alt="" style="width:50%;margin:auto;"/>
	    <p class="party-desc" style="text-align:center; margin-top: 0.5em;"> There is a ton of AirBnB selection and variety in the region. Grab a house/room in town or check out the cottages in Prince edward County.<br>
	    	<br><a target="_blank" href="https://www.airbnb.ca/s/Belleville--ON/all?query=Belleville%2C%20ON&adults=0&children=0&infants=0&guests=0&place_id=ChIJSa91lJUo1okRMBcjxyh7AwU&refinement_paths%5B%5D=%2Ffor_you&search_type=UNKNOWN">Belleville</a><br><br><a target="_blank" href="https://www.airbnb.ca/s/Prince-Edward-County--ON/all?refinement_paths%5B%5D=%2Ffor_you&adults=0&children=0&infants=0&guests=0&query=Prince%20Edward%20County%2C%20ON&place_id=ChIJ2wYjj5k11okRLVnlDYFVAT4&search_type=AUTOCOMPLETE_CLICK8">Prince Edward County</a><br><br></p>
	  </div>
	  <div class="image belleville" style=" padding-right: 1em; padding-left: 1em">
	    <p class="party-desc" style="text-align:center;margin-bottom: 0.5em;font-weight:700;font-size:1em;">Tent</p>
	    <img src="images/tent.png" alt="" style="width:50%;margin:auto;"/>
	    <p class="party-desc" style="text-align:center; margin-top: 0.5em;">If you don't mind rolling out your therm-a-rest, we've got space to accomodate tents in the back of the wedding venue. Though, keep in mind space might be tight, and some individuals may need to wait until midnight to set up their tents in the main event area.<br><br></p>
	  </div>
	  <div class="image belleville" style="padding-right: 1em; padding-left: 1em">
	    <p class="party-desc" style="text-align:center;margin-bottom: 0.5em;font-weight:700;font-size:1em;">Other</p>
	    <img src="images/hotel.png" alt="" style="width:50%;margin:auto;"/>
	    <p class="party-desc" style="text-align:center; margin-top: 0.5em;">There are several ol' fashion B&Bs in the neighbourhood or other hotels around town to choose from!<br>
	    	<br><a target="_blank" href="https://www.expedia.ca/Hotel-Search?regionId=6057820&locale=en_CA&siteid=4&semcid=CA.UB.GOOGLE.DL-c-EN.HOTEL&semdtl=a1370859109.b153207455598.r1f8cb405d828ac879746fb2568dea75393287292fceffdfab3042ef704ef14426.g1kwd-527738690.i1.d1285627526961.e1c.j19001009.k1.f11t4.n1.l1g.h1e.m1&gclid=CjwKCAjwtYXmBRAOEiwAYsyl3AyliTUAJat7qcQBz8spWgdtdxNB_gEnZgsQh6HKrz7o7hXlQQ6wMxoC9i4QAvD_BwE">Hotels</a><br><br><a target="_blank" href="https://www.tripadvisor.ca/Hotels-g154981-c2-Belleville_Ontario-Hotels.html">Bed & Breakfasts</a><br><br><br></p>
	  </div>
	</section>



  </header>
</div>
