<!-- Footer -->
<footer id="footer">
  <ul class="question-redirect">
    <li class="copyright">Please direct all questions to <a href="mailto:wedding@nicandemma.ca">wedding@nicandemma.ca</a></li>
  </ul>

  <span style="line-height:10px;">&nbsp</span>
  
  <ul class="icons">
    {% for socloc in site.social %}
    {% if socloc[1] %}
    {% if socloc[0] == 'email' %}
    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-envelope-o"
           ><span class="label">E-mail</span></a></li>
    {% else %}
    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }}"
           ><span class="label">{{ socloc[0] }}</span></a></li>
    {% endif %}
    {% endif %}
    {% endfor %}
  </ul>
  
  <ul class="copyright">
    <li>Built with <3 by Nic Durish<br></li>
  </ul>
</footer>
